table{
	width: 100%;
	border: 1px solid #999;
	border-collapse: collapse;
	margin: 0 0 1em 0;
	color: #000080;
	font-size: small;
}
th,td {
	padding: 0.5em;
	border-bottom: 1px solid #999;
}
th {
	background-color: #ADC5D7;
}
tr.columnaGrande {
	width: 20%;
}
td.alineadoDer,th.alineadoDer{
	text-align: right;
}
td.totales,th.totales{
	border-top: 2px solid #999;
	font-weight: bold;
}

