body {
	font-family: Verdana, Lucida Grande, Sans-serif;
	font-size: 12px;
	color:navy;
	
	background-color:#fff;
	background-image:url(../img/interior_03.gif);
	background-repeat:repeat-x;
	margin:0;
}

img { border:none;}

a {
	text-decoration:none;
}

p {
	margin-top: 6px;
	margin-bottom: 6px;
}
	
a:hover {
	color:#0000ed;
	text-decoration:underline;
}

#cabezal {
	float:right;
	position:absolute;
	top:0px;
	right:0px;
}

#barra {
	width:246px;
	float:left;
	position:absolute;
	top:0px;
	left:0px;
}

#menu {
	background-image:url(../img/interior_19.gif);
	width:70px;
	height:300px;
	width:196px;
	text-align:left;
	margin-top:20px;
}

#menu img {
	margin-right:10px;
	margin-top:4px;
}

#menu ul li {
	list-style:none;
	font-weight:bold;
	margin-right:12px;
}

#menu a:hover {
	text-decoration: none;
}

#contenido {
	overflow:visible;
	margin-top:100px;
	margin-left:246px;
	text-align:center;
	padding:auto;
}

#contenido h1 {

}

#contenido ul li {

}


#contenido dt {
	font-weight:bold;
}

#contenido dd {

}

#contenido h6 {

}

#lista {
	float:left;
	width:100%;
	margin-top:1px;
}

#lista dt {
	color:#3300CC;
	font-weight:bold;
}

#lista dd {
	font-weight:bold;
}

#lista ul li {
	font-weight:bold;
}

#lista a {
	text-decoration:none;
}

#lista a:hover {
	color:#0000ed;
	text-decoration:underline;
}