@CHARSET "UTF-8";

#foto-slider {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin-bottom: 1em;
}

#two-columns {
	float: left;
	width: 900px;
}

#left-column {
	float: left;
	width: 450px;
	overflow: hide;
}

#right-column {
	float: left;
	width: 450px;
	overflow: hide;
}

.module {
	width: 430px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.module-title {
	font-size: 1.4em;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

.module-title:before {
	content: '';
	font-size: 0.6em;
}

.module-body {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a.menu-option {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	width: 290px;
	color: navy;
}

a.menu-option:hover:before {
	content: '';
}

a.menu-option:hover {
	background-color: #5EA3CE;
	color: white;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

/** 
 * Slideshow style rules.
 */
#slideshow {
	/*float: left;*/
	margin:0 auto;
	width:429px;
	height:200px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:397px;
  height:200px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:377px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:200px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:16px;
  height:200px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../img/arrow_left_16x150.png) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../img/arrow_right_16x150.png) no-repeat 0 0;
}