code {
	display: block;
	padding: 12px 10px 12px 10px;
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
}

.modulo .modulo_titulo {
	text-align: center;
	font-weight: bold; 
	font-size: 1.4em;

	width: 100%;
	background-color: #5ea3ce;
	color: white;

	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;	
	
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}

.modulo .modulo_contenido {
	border-style: solid;
	border-width: 1px;
	border-color: #5ea3ce;
	background-color: #f9f9f9;
	
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.modulo .modulo_fieldset {
	border: 0px none;
	padding-left: 15px;
	padding-right: 15px;
}

.modulo .modulo_footer {
	text-align: right;
	font-size: 0.8em;
	margin-bottom: -3px;
}

.modulo fieldset.modulo_fieldset_aux {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #5EA3CE;
	
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;

	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.modulo fieldset legend {	
	color: navy;
	font-weight: bold;
}

.modulo fieldset.modulo_fieldset label.form { 
	width: 21em; 
	float: left; 
	text-align: left;
}

.modulo fieldset.modulo_fieldset_aux label.form { 
	width: 20.5em; 
	float: left; 
	text-align: left;
}

div.error {
	width: auto;
	margin-left: 22em; 	
	margin-top:0px;
	margin-bottom:0px;
	margin-right: 0px;
	padding: 0px;
}

label.error { 
	padding: 0px;
	margin: 0px;
	color: red; 
	vertical-align: top; 
	display: none;
	font-size: 0.8em;
}

.submit_button { 
	margin-top: 10px;
	margin-left: 20em; 
		
	height:30px;
	width: 15em;
	
	background-image: url('../img/1275179245_emblem-system.png');
	background-repeat: no-repeat;
	background-position: 0px -10px;
	
	color: navy;
	
	border-width: 1px;
	border-color: #5ea3ce;
}

em { 
	font-weight: bold; 
	vertical-align: top; 
	float:left;
	width: 1em;
}

#contenidoInterno {
	margin:auto; 
	text-align:left;
	width:810px;
}

#entrada {
	width: 590px;
}

#entrada .note {
	text-align: right;
	padding: 0px;
	margin-top: 2px;
	margin-right: 2px;
	font-size: 0.8em;
}

#ayuda {
	color: #002166;
	
	position: relative;
	float: right;
	top: 0px;
	width: 210px;
}

#ayuda img {
	float: right;
	margin: 2px;
}

#ayuda .modulo_contenido {
	font-size: 0.8em;
	
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 10px;
}

#contenido #ayuda ul li {
	padding: 0;
	margin-left: 1.3em;
	margin-top: 10px;
	margin-bottom: 0;
	margin-right: 2px;
}

#contenido #ayuda ul {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	margin-left: 2px;
	margin-bottom: 0px;
}

#salida {
	/*width: 800px;*/
	width: 590px;
	margin-top: 10px;
}

#salida code {
	background-image: url('../img/1275314059_edit-paste.png');
	background-repeat: no-repeat;
	background-position: top right;
}

#footer {
	width: 100%;
	font-size: 10px;
	text-align: center;

	margin-top: 20px;
	float: right;
}

select.idleField{  
	margin: 1px;
}  

select.focusField{  
	margin: 0px;
}  

.focusField{  
	border:solid 2px #73A6FF;
	background-color: white;
}  

.disabledField {
	margin: 2px;
	border: none;
	background-color: transparent;
}

.note {
	font-size: 0.7em;
	font-style: italic;
}

.info {
	background-image: url('../img/1275573254_info.png');
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding-left: 25px;
}
